
p{
	text-align: center;
	color: red;
	text-decoration: line-through;
	}

#reg{
	display: inline;
	text-decoration: blink;
	text-align: right;
	color: white;
    margin-left: 20px;text-transform: uppercase;
}
.creg{
	text-shadow: 3px 2px red;
	color:blue;
	text-align: left;
	 font-family: verdana;
    font-size: 20px;text-decoration: underline;
    
}
h4.creg{
	visibility: hidden;
	color:green;
}
h4.large{
	text-align: center;
}
* { 
    background-color: yellow;
}
div {
    height: 100px;
    word-spacing: 10px;
    width: 40%;
    
}
a:link, a:visited {
    background-color: #808080;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
a:hover, a:active {
    background-color: 	#C0C0C0;
}
div > h3{
	background-color: powderblue;
    border: 25px solid green;
    padding: 25px;
    margin: 25px;
    outline-style: dashed;
}





